* {
    padding: 0;
    margin: 0;
}
body {
 background-color: rgba(255, 209, 17, 0.38);
    font-family: Georgia;

}
.header img {
    width: 80px;
    margin-left: 12px;
    margin-top: 4px;
}
.header a {
    font-family: Garamond;
    color: rgba(221, 169, 68, 1);
    font-size: 70pt;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 16px;
}
#menu {
    font-family: Georgia;
    font-size: 20pt;

}
#menu a {
    text-decoration: none;
    color: white;
}
#menu ul {
    text-align: center;
}


#menu li {
    color: white;
    display: inline;
    padding: 0px 50px;
    margin: 0px 0 2px 0;
}


.left {
    float: left;
    margin-left: 12px;
}

}
#header img {

}
.b {
    /*margin-top: 40px;*/
    padding: 12px;
    text-align: right;

}
.b h3 {
    border: 2px solid greenyellow;
    width: 200px;
}
.clean {
    clear: left;
}
div.barva{
     background: rgba(65, 105, 225, 0.76);


 }
.zac{
    margin: 0 auto;
    /*border: 10px solid white;*/
    /*width: 640px;*/
    padding: 10px;
    background-color: white;
    position: relative;
}
.zac img {
    /*border: 10px solid white;*/
    width: 100%;/*width: 640px;*/


}
.zac .perex {
    position: absolute;
    color: white;
    font-family: Latha;
    padding-right: 30px;
    padding-top: 50px;
    font-size: 50px;
    top: 10px;
    right: 10px;
}

.upot {
    padding: 10px 0px 0px 12px;
    border-bottom: 3px solid #dda944;
}

.upot h2 {
    padding: 6px;
    color: royalblue;


    /*float: right;*/
    /*margin: 0px auto 6px auto;*/
}

.upot img {
    width: 700px;
    height: 290px;
    /*padding: ;*/
}

.upot a {
    text-decoration: none;
    color: royalblue;
}

.upot a.zajem {
    background-color: green;
    text-decoration: none;
    color: white;
    padding: 6px;
    margin-top: 12px;
    margin-right: 10px;
    display: block;
    float: right;
}

.konec {
    margin-top: 20px;
    margin-left: 12px;
    margin-bottom: 20px;
}
.konec b {
    margin-top: 20px;
}

.info {
    font-size: 15pt;
    margin-left: 790px;
}
#info {
    margin: 12px 0 6px 4px;
}
.kon{
    margin: 12px 0 2px 4px;
}
.tel h4 {
    margin: 12px 0 6px 4px;
}


.detail-title {
color: skyblue;
}