@font-face {
    font-family: Pacifico;
    src: url("../fonts/Pacifico.ttf");
}
@font-face {
    font-family: Sofia;
    src: url("../fonts/Sofia-Regular.otf");
}
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(255, 209, 17, 0.38);
    font-family: Georgia;
    width: 1000px;
    margin: 0 auto;
}
.header img {
    width: 80px;
    margin-left: 12px;
    margin-top: 4px;
}
.header a {
    font-family: Pacifico;
    color: rgba(221, 169, 68, 1);
    font-size: 50pt;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 16px;
}
#menu {
    font-family: Georgia;
    font-size: 20pt;

}
#menu a {
    text-decoration: none;
    color: white;
}

#menu ul {
    text-align: center;
}


#menu li {
    color: white;
    display: inline;
    padding: 12px 50px;
    margin: 12px 0 2px 0;
}

.left {
    float: left;
    margin-left: 12px;
}

.b {

    padding: 12px;
    text-align: right;

}

.b h3 {
    border: 2px solid greenyellow;
    width: 200px;
}

.clean {
    clear: left;
}

div.barva {
    background: rgba(65, 105, 225, 0.76);

}

.zac {
    margin: 0 auto;

    padding: 10px;
    background-color: white;
    position: relative;
}

.zac img {
    /*border: 10px solid white;*/
    width: 980px;/*width: 640px;*/
}

.zac .perex {
    position: absolute;
    color: white;
    font-family: Sofia;
    font-weight: bold;
    padding-left: 40px;
    padding-top: 180px;
    font-size: 25px;
    top: 10px;
    right: 10px;
}

.upot {
    padding: 10px 0 0 12px;
    border-bottom: 3px solid #dda944;
}

.upot h2 {
    padding: 6px;
    color: royalblue;
}

.upot img {
    width: 400px;
    height: 200px;

}

.upot a {
    text-decoration: none;
    color: royalblue;
}

.upot a.zajem {
    background-color: green;
    text-decoration: none;
    color: white;
    padding: 6px;
    margin-top: 12px;
    margin-right: 12px;
    display: block;
    float: right;
}

.upot .info {
    font-size: 15pt;
    margin-left: 240px;
}

.konec {
    padding-top: 20px;
    padding-left: 12px;
    padding-bottom: 20px;
    background-color: rgba(65, 105, 225, 0.76);
    border-top: 4px solid white;
}
.konec p {
    margin-top: 20px;


}
.konec img {
    float: right;
    width: 80px;

}

#info {
    margin: 12px 0 6px 4px;
}
.kon{
    margin: 12px 0 2px 12px;
    text-align: center;
    border-bottom: 2px solid rgba(65, 105, 225, 0.76);
}
.tel h4 {
    margin-top: 6px;
    margin-bottom: 6px;
}
.tel {
    margin-left: 40px;
}
.adress{
    margin-left: 40px;
    margin-top: 6px;
    margin-bottom: 6px;
}


.detail-title {
    color: royalblue;
    text-align: center;
    font-family: Georgia;
}

/*.h{*/
/*width: 50%;*/
/*margin: auto;*/
/*display: block;*/
/*}*/

.stred {
    padding-top: 8px;
    width: 800px;
    margin: auto;
    display: block
}

.popis {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Georgia;
}

.obednat {

    background: rgba(56, 105, 225, 0.76);
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.pata {
    background: rgba(56, 105, 225, 0.76);
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}
