* {
    padding: 0;
    margin: 0;
}
body {
 background-color: rgba(255, 209, 17, 0.38);

}
h3 {
    font-family: "";
}
#menu ul {
    text-align: center;
}

#menu li {
    font-family: Arial;
    color: white;
    display: inline;
    padding: 0px 35px;
}



#header img {
    float: left;
}
#header h3 {


}
.clean {
    clear: left;
}
div.barva{
     background: rgba(65, 105, 225, 0.76);


 }
.zac{
    margin: 0 auto;
    /*border: 10px solid white;*/
    /*width: 640px;*/
    padding: 10px;
    background-color: white;

}
.zac img {
    /*border: 10px solid white;*/
    width: 100%;/*width: 640px;*/


}


.upot img {
    width: 350px;
    height: 250px;
}
.upot {
    float: left;
    /*position: relative;*/
}
.upot .price {
    /*position: absolute;*/
    /*left: 0;*/
    /*z-index: 1000;*/
    /*color: red;*/
}